
/*************************************
GENERAL
**************************************/


img {
max-width: 940px;

}



 body {
   font-family: 'Open Sans', sans-serif;
 }


 #wrapper {
   max-width: 100%

   padding: 0 5%;

 }



 a {
   color: white;

 }

 h3 {

 }


/*************************************
HEADING
**************************************/

header {
  float: left;
  margin: 0 0 20px 0;
  padding: 2px 0 0 0;
  width: 100%;

}



#logo {
   text-align: center;
   margin: 0;

 }

 h1  {
 font-family: 'Changa One', sans-serif;
 margin: 5px 0;
 font-size: 3em;
 font-weight: bold;
 line-height: 50px;
 text-align: center;
 color: 	#FF0000;
 border-radius: 5px;

 }

 h2  {
 text-shadow:-1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 font-size: 1.5em;
 font-weight:bold;
 text-align:center;
 }


h3  {


    font-size: 1.1em;
    font-weight: normal;
    margin: 15px 0 0;
}







/*************************************
NAVIGATION
**************************************/
 nav {
	text-align: center;
	padding: 10px 0;
	margin: 20px 0 0;
  }

  nav ul  {
    list-style: none;
	margin: 0 10px;
	padding: 0;
}

nav li {
  display: inline-block;

}



/*************************************
FOOTER
**************************************/
 footer {
 font-size: 0.75em;
 text-align: center;
 clear: both;
 padding-top: 50px;
 color: #ccc;
 }

/*************************************
PAGE:
**************************************/
.mydiv {background: lightblue; width:250px; height: 250px;}

.myimage {
    float:left;
    width:175px;
    height:275px;
    margin:20px;
    margin-right:10px;
    margin-bottom:6px;
    border-radius: 20px;
}




 /*************************************
PAGE: ABOUT
**************************************/
.profile-photo {
    display: block;
    max-width: 400px;
    margin: 0 auto 30px;
    border-radius: 5px;
}

/*************************************
COLORS
**************************************/


 /* green header*/
  header {
   background: #6ab47b;
   border-color: #599a68;
 }

 /* logo text*/

 h1,h2  {
    color:white;
}

/* nav background on mobile devices*/
nav {
   background: #599a6b;
}

nav a, nav a:visited {
	color: #fff;
}

/* selected nav link color*/
nav a.selected, nav a:hover {
  color: #32673f;
}
/* site body*/
body {
    background-color: #fff;
    color: #000;
}
